@media screen and (max-width: 375px)
{
	#pic1 {
		display: none;
	}
}

#header1 {
	float: left;
	width: 80%;
}

#header2 {
	float: left;
}

#pic1 {
	width: 300px;
	float: left;
	clear: both;
}

#pic2 {
	width: 300px;
	float: left;
	clear: both;
}

#pic3 {
	width: 300px;
	float: left;
	clear: both;
}

#foto {
	width: 65%;
}
